@import url('https://fonts.googleapis.com/css?family=Parisienne|Quicksand&display=swap');
html, body {
	height: 100%;
	margin: 0;
	background-image: linear-gradient(to right, rgba(255, 0, 0, 0.575), rgb(218, 216, 78),rgba(255, 0, 0, 0.575), rgb(218, 216, 78),rgba(255, 0, 0, 0.575), rgb(218, 216, 78));
	background-color: rgb(221, 6, 6);	font-family: 'Montserrat', sans-serif;
	font-size: 13px;
}
*{
    zoom: 85%;
}

.row{
    font-weight: bold;
}
.container {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	color: #fff;
}
.lead { font-family: 'Quicksand'; }
.header-bar {
	position: relative;
	width: 50%;
	min-width: 300px;
	height: 50px;
	border: 10px solid transparent;
	border-top: 10px solid #fffa;
	border-left: 10px solid #fffa;
	box-shadow: 4px 4px 5px rgba(240, 236, 236, 0.25) inset;
}

#name{
   width: 60px; 
   padding:10px;
   border:0;
   height: 10px;
   box-shadow:0 0 15px 4px rgba(48, 48, 43, 0.973);

   
}
#contact{
    width: 150px;
    border: 0;
    height: px
}
#class{
    width: 60px; 
    padding:20px;
    border:0;
    height: 7px;
    box-shadow:0 0 15px 4px rgba(48, 48, 43, 0.973);
 }

 #firstclass{
    width: 60px; 
    padding:20px;
    border:0;
    height: 7px;
    box-shadow:0 0 15px 4px rgba(48, 48, 43, 0.973);
    margin-left: 30%;
 }


 #form{
     background-color:white;
     width: 300px;
     margin-right: 0px;
     margin: 0px;
     border: 10px solid black;
     margin-left: 30px
 }
#nameit{
      width: 150px;
    border: 10;
    height: px
}

select{
    width: 50px;
    box-shadow:0 0 15px 4px rgba(66, 61, 61, 0.973);
}
    .header {
        padding: 5px;
        text-align: center;
        color: white;
        font-size: 20px;
      }
#labelclass{
    margin: 0%;
    background-color: white;
    width: 667px;
    height: 53px;
    margin-left: 560px;
    border: 10px solid tan;
    border-radius: 20%;
    margin-top: -180px;
}
.header-bar::after {
	content: '';
	position: absolute;
	top: -10px;
	right: -10px;
	width: 30%;
	height: 49px;
	border: 10px solid transparent;
	border-bottom: 10px solid #fffa;
	border-right: 10px solid #fffa;
	transition: 0.3s linear all;
}
.header-bar > .logo {
	position: absolute;
	top: calc(50% - 20px);
	left: 10px;
	transform: translateY(-50%);
	color: #fffc;
	font-family: 'Parisienne', cursive;
	cursor: default;
	user-select: none;
}
.slider-menu {
	position: absolute;
	top: 0;
	right: 0;
	display: flex;
	list-style-type: none;
	margin: 0;
	padding: 0;
	z-index: 1;
}
.slider-menu > li {
	display: inline-flex;
	padding: 14px;
	margin-left: 2px;
	font-family: 'Quicksand', sans-serif;
	color: #fff;
	cursor: pointer;
	transition: 0.3s linear all;
	user-select: none;
}
.slider-menu > li:hover {
	color: #faa;
	box-shadow: 0 50px 5px rgba(0, 0, 0, 0.15) inset;
}
.aeu-signature {
	position: fixed;
	top: 5px;
	left: 50%;
	transform: translate(-50%);
	font-size: 15px;
	line-height: 30px;
	background-color: #fff;
	padding: 5px 10px;
	border-radius: 25px;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}
.aeu-signature { font-family: "Quicksand"; }
.aeu-signature > img { height: 30px; }

#submit{
    width: 300px;
    height: auto;
    border-width: 5px;
    border-color: black;
    border: 5%;;
    height: 30px;
    border-radius: 10%;
}

body{
    margin: 0px;
}

h2{
    text-decoration: underline;
}

#divider{
	height: 30px;
}
table{
	margin: 30px;
	margin-bottom: 45px;
	border-spacing: 0;
	width: 300px;
    font-size: 25px;
	float: center;
	background-color: white;
	display: inline;
}

tbody{
	background-color: black;
}

td{
	width:20px;
	padding: 10px;
    border: black;
	border: 2px solid black;
	background-color: white;
}
#eam{
    background: green
}
#nam{
    background: linear-gradient(0.50turn , green 50%, white 50%);
}



#spf{
    background-color: blue;
}


tr{
	padding: 20px;
	background-color: red;
}

#firsttable{
	margin: 30px;
	margin-left: 100px;
	margin-bottom: 45px;
	border-spacing: 0;
	width: 300px;
	float: center;
	background-color: white;
	display: inline;
}

#heading{
    padding-left: 50px;
    padding-right: 50px;
    background-color: rgb(185, 185, 245);
}
